<DOCTYPE>
    <html>
    <head>
        <meta charset="UTF-8" />
        <title>Category</title>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

    <body>
    <h1>Category <%= title %></h1>
    <div>
        <%= id %>
    </div>
    </body>
    </html>
</DOCTYPE>