<DOCTYPE>
    <html>
    <head>
        <meta charset="UTF-8" />
        <title>Back office PFE</title>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

    <body>
    <h1>Cours en ligne</h1>
    <div>
        Bienvenue!
    </div>
    </body>
    </html>
</DOCTYPE>